html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Livvic","Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.todo-checkbox:checked ~ .todo-text{
  color: #999;
  text-decoration: line-through;
}

.todo-delete-btn {
  display: none;
}

.todo-item:hover .todo-text {
  margin-right: 0 !important;
}

.todo-item:hover .todo-delete-btn {
  display: block;
  margin-left: 0;
}
